Data-Analyst-Chat.json
{
  "name": "Data-Analyst-Chat",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-dataset",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9c4693ca-afee-44e6-899e-7198ec049697",
      "name": "Chat Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        208
      ],
      "webhookId": "c3161154-136d-4f46-8240-7e1b7a567d7d"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "F7fghyVPsKJMCi8y"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "dataset_id",
              "keyValue": "={{ $json.body.datasetId }}"
            }
          ]
        },
        "limit": 1
      },
      "id": "bdf596a9-3bbb-4140-a4b1-d321378f456d",
      "name": "Fetch Cached Analysis",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "found-check",
              "leftValue": "={{ $json.dataset_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "395c6d98-cf8b-482d-b80a-a175de67b486",
      "name": "Dataset Found",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst d = $input.first().json;\nconst question = $('Chat Trigger').first().json.body && $('Chat Trigger').first().json.body.question\n  ? $('Chat Trigger').first().json.body.question\n  : ($('Chat Trigger').first().json.query && $('Chat Trigger').first().json.query.question\n    ? $('Chat Trigger').first().json.query.question\n    : '');\nfunction safeParse(val, fallback) {\n  if (!val) return fallback;\n  try { return JSON.parse(val); } catch(e) { return fallback; }\n}\nreturn [{\n  json: {\n    dataset_id: d.dataset_id,\n    filename: d.filename,\n    n_rows: d.n_rows,\n    n_cols: d.n_cols,\n    duplicate_count: d.duplicate_count,\n    numericCols: safeParse(d.numeric_cols, []),\n    categoricalCols: safeParse(d.categorical_cols, []),\n    datetimeCols: safeParse(d.datetime_cols, []),\n    profile: safeParse(d.profile_json, {}),\n    outlierReport: safeParse(d.outlier_report_json, {}),\n    descriptiveStats: safeParse(d.descriptive_stats_json, {}),\n    correlationMatrix: safeParse(d.correlation_matrix_json, {}),\n    cleanedRows: safeParse(d.cleaned_rows_json, []),\n    question: question\n  }\n}];\n"
      },
      "id": "13464741-0d2d-4035-81cc-941b2337550b",
      "name": "Unpack Cache",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        112
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'Dataset stats: ' + JSON.stringify({nRows:$json.n_rows,numericCols:$json.numericCols,categoricalCols:$json.categoricalCols,descriptiveStats:$json.descriptiveStats,correlationMatrix:$json.correlationMatrix,outlierReport:$json.outlierReport,profile:$json.profile}) + '\\n\\nUser question: ' + $json.question + '\\n\\nAnswer using only the data above.' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data analyst assistant. Rules: (1) Only cite numbers from the provided statistics JSON - never invent metrics. (2) If data is insufficient to answer, state that explicitly. (3) Structure your response using the exact 6-part JSON schema provided. (4) Be specific - reference actual column names and numeric values from the data."
        }
      },
      "id": "ba7a9a14-3498-4f6b-bab0-eaefaf26166c",
      "name": "Answer Question",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "a583f113-ffa4-4a32-afbe-e05847750adb",
      "name": "OpenAI Answer Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        912,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "Y26cpn2LqDdoClCU",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "directAnswer": "The average sales by region: North=1300, South=1000, East=1050, West=980.",
          "metricsUsed": [
            "sales mean by region",
            "descriptiveStats.sales.mean"
          ],
          "insight": "North region significantly outperforms all others with the highest average sales.",
          "recommendedViz": "Bar chart with region on X-axis and average sales on Y-axis",
          "businessInterpretation": "Regional focus on North may yield highest ROI. South requires investigation.",
          "suggestedNextQuestion": "What is the monthly trend for the North region?"
        }
      },
      "id": "ccecc63b-da2b-4524-94b0-62dd9d513afa",
      "name": "Answer Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1040,
        336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ 'For the question: ' + $('Unpack Cache').item.json.question + '\\nDataset has numeric columns: ' + JSON.stringify($('Unpack Cache').item.json.numericCols) + ' and categorical columns: ' + JSON.stringify($('Unpack Cache').item.json.categoricalCols) + '.\\nRecommend the best single chart. JSON only.' }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data visualization expert. Always respond with JSON only, recommending the most informative chart type."
        }
      },
      "id": "afdcddb3-55ec-4857-bab6-430f7742d206",
      "name": "Suggest Chart",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1248,
        112
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "e0039973-5514-4a1f-838c-dec0a1c03fbb",
      "name": "OpenAI Chart Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1264,
        336
      ],
      "credentials": {
        "openAiApi": {
          "id": "Y26cpn2LqDdoClCU",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "chartType": "bar",
          "xField": "region",
          "yField": "sales"
        }
      },
      "id": "384723de-c3f0-4f4f-b7d2-593e32a121ff",
      "name": "Chart Schema",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1392,
        336
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst suggestNode = $('Suggest Chart').first().json;\nconst chartData = (suggestNode && suggestNode.output) ? suggestNode.output : { chartType: 'bar', xField: 'category', yField: 'value' };\nconst cleanedRows = $('Unpack Cache').first().json.cleanedRows || [];\nconst xField = chartData.xField || 'category';\nconst yField = chartData.yField || 'value';\nconst labels = cleanedRows.slice(0, 10).map(function(r) { return String(r[xField] !== undefined ? r[xField] : 'N/A'); });\nconst vals = cleanedRows.slice(0, 10).map(function(r) { return parseFloat(r[yField]) || 0; });\nconst config = {\n  type: chartData.chartType || 'bar',\n  data: { labels: labels, datasets: [{ label: yField, data: vals }] }\n};\nconst chartUrl = 'https://quickchart.io/chart?c=' + encodeURIComponent(JSON.stringify(config));\nreturn [{ json: { chartUrl: chartUrl } }];\n"
      },
      "id": "f009ee65-6384-496b-9961-28d460f1f520",
      "name": "Build Chat Chart URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { directAnswer: $('Answer Question').item.json.output ? $('Answer Question').item.json.output.directAnswer : 'AI temporarily unavailable.', metricsUsed: $('Answer Question').item.json.output ? $('Answer Question').item.json.output.metricsUsed : [], insight: $('Answer Question').item.json.output ? $('Answer Question').item.json.output.insight : '', recommendedViz: $('Answer Question').item.json.output ? $('Answer Question').item.json.output.recommendedViz : '', businessInterpretation: $('Answer Question').item.json.output ? $('Answer Question').item.json.output.businessInterpretation : '', suggestedNextQuestion: $('Answer Question').item.json.output ? $('Answer Question').item.json.output.suggestedNextQuestion : '', chartUrl: $json.chartUrl } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "2cc3e0a6-e7a0-475c-b0b9-7ef869df3ef8",
      "name": "Chat Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1824,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Dataset not found - please re-upload.",
        "options": {
          "responseCode": 404
        }
      },
      "id": "4f3a6ad6-4e2e-4b1d-bc3a-11d4be89b969",
      "name": "Not Found",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Fetch Cached Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Cached Analysis": {
      "main": [
        [
          {
            "node": "Dataset Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dataset Found": {
      "main": [
        [
          {
            "node": "Unpack Cache",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unpack Cache": {
      "main": [
        [
          {
            "node": "Answer Question",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Question": {
      "main": [
        [
          {
            "node": "Suggest Chart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Answer Model": {
      "ai_languageModel": [
        [
          {
            "node": "Answer Question",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Answer Question",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Suggest Chart": {
      "main": [
        [
          {
            "node": "Build Chat Chart URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chart Model": {
      "ai_languageModel": [
        [
          {
            "node": "Suggest Chart",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chart Schema": {
      "ai_outputParser": [
        [
          {
            "node": "Suggest Chart",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Chart URL": {
      "main": [
        [
          {
            "node": "Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "40c88d0c-9e56-490f-821f-4eacddd39832",
  "meta": {
    "instanceId": "5e0ca2adf8b36cb9150730c9d8fa666475d3b4cb7078ce6c0efe6d97bc894e70"
  },
  "nodeGroups": [],
  "id": "XMWpecnSRrkJWusU",
  "tags": []
}